* {
font-size: 32px; 
}

html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
}

button {
	background: lightblue;
	color: black;
	border-style: solid;
	border-radius: 8px;
	padding: 5px;
}
